.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container-button{
  display: flex;
  justify-content: center;
  padding: 50px;
}

.button-clock{
  margin: 30px;
  display: flex;
}
.btn{
  margin: 10px;
}

.start-clock{
  background-color: darkgrey;
  height: 150px;
  width: 345px;
  display: inline-block;
  border-radius: 10px;
}